name: Publish Package

on:
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      npm:
        default: "yes"
        description: Publish to NPM?
        required: true

jobs:
  prepare:
    name: Prepare the source code
    runs-on: ubuntu-latest
    if: github.event_name == 'release' || github.event.inputs.npm == 'yes'
    steps:
      - name: Checkout source
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Node.js environment
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3.5.1
        with:
          node-version: lts/*
          cache: npm

      - name: Update npm
        run: npm i -g npm

      - name: Install dependencies
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present

      - name: Create tarball
        run: npm pack

      - name: Save tarball
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb # tag=v3
        with:
          name: package
          path: "*.tgz"
          retention-days: 1

  publish:
    permissions:
      contents: none
    name: Publish package
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        registry:
          - npm
        include:
          - registry: npm
            secret: NPM_TOKEN
            registry_url: https://registry.npmjs.org/
    steps:
      - name: Set up Node.js environment
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # tag=v3.5.1
        with:
          registry-url: ${{ matrix.registry_url }}

      - name: Download tarball
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741 # tag=v3
        with:
          name: package

      - name: Publish package
        if: github.event.inputs[matrix.registry] == 'yes' || github.event_name == 'release'
        run: npm publish *.tgz
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.secret] }}
